<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Title</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/test.css') }}" type="text/css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/navbar.css') }}" type="text/css">
</head>
<body>
<script src="{{ url_for('static',filename='js/navbar.js') }}"></script>
<div class="center">
    <div class="left">
    <form method="POST">
        <input type="text" value="请输入所查询内容" name="text">
        <input type="submit" value="点我">
        <input type="submit" name="进入login" value="点击进入login">
    </form>
        {%for u in user_list%}
            {{u.id}}
            <br/>
        {% endfor %}
    </div>
    <div class="right">
    </div>
    <div class="right">
    </div>
</div>
</body>
</html>