<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/test.css') }}" type="text/css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/navbar.css') }}" type="text/css">
</head>
<body>
<script src="{{ url_for('static',filename='js/navbar.js') }}"></script>
<form method="POST">
    <input type="text" value="" name="text">
    <input type="submit" value="点我" name="转到login">
</form>
<p>我是index是了，就在这下面</p>
{{text}}
</body>
</html>